{% load static %}
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent" >
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_list' %}" style="padding: 20px">خانه</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'contact:contact_us' %}" style="padding: 20px" >تماس با ما</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left" style="margin-left: 144px">
                    {% if user.is_authenticated %}
                        <li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_create' %}" style="padding: 20px" >افزودن پست</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_draft' %}" style="padding: 20px" >درافت</a></li>

                        <li class="nav-item active"><a class="nav-link" href="{% url 'blog:logout' %}" style="padding: 20px" >خروج</a></li>
                    {% else %}
                        <li class="nav-item active"><a class="nav-link" href="{% url 'blog:login' %}" style="padding: 20px" >ورود</a></li>
                    
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>