{% load static %}
<!doctype html>
<html lang="fa">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png" type="image/png' %}">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'blog/vendors/popup/magnific-popup.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/responsive.css' %}">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        {% include 'blog/partials/_header.html' %}
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
            	<div style="background: url({% static 'blog/img/banner/home-banner.jpg' %}) no-repeat scroll center center;" class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="blog_b_text text-center">
						<h2>با شما همراهیم</h2>
						<p>از جدیدترین مطالب بهره مند شوید</p>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        {% block content %}

        {% endblock %}


        <!--================Footer Area =================-->
        {% include 'blog/partials/_footer.html' %}
        <!--================End Footer Area =================-->




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'blog/js/popper.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'blog/js/stellar.js' %}"></script>
        <script src="{% static 'blog/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'blog/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'blog/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'blog/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'blog/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'blog/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'blog/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'blog/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'blog/vendors/counter-up/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'blog/js/mail-script.js' %}"></script>
        <script src="{% static 'blog/js/theme.js' %}"></script>
    </body>
</html>