{% extends 'blog/base.html' %}
{% load static %}
{% load jalali_tags %}
{% block content %}


        
        <!--================Blog Area =================-->
        <section class="blog_area single-post-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <div class="col-lg-12">
                                <div class="feature-img">
                                    <img class="img-fluid" width="100%" src="{{ post.image.url}}" alt="">
                                </div>									
                            </div>
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">

                                        {% for tag in post.tags.all %}
                                            <a href="{% url 'blog:tag_view' tag.slug %}">{{ tag.name }}| </a>
                                        {% endfor %}

                                    </div>
                                    <ul class="blog_meta list" dir="ltr">
                                                <li><a href="#" >{{ post.author.first_name }} {{ post.author.last_name }}<i class="lnr lnr-user"></i></a></li>
                                                <li><a href="#" > {{ post.created_at|to_jalali:'%B %Y' }}<i class="lnr lnr-calendar-full"></i></a></li>

                                     </ul>

                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>{{ post.title }}</h2>
                                <p class="excert">
                                    {{ post.content|safe }}
                                </p>


                            </div>
                        {% if user.is_authenticated %}
                             <span style="padding: 20px; background-color: #00B0E8;"><a href="{% url 'blog:post_update' post.id %}"
                                                                                       style="color: white;">ویرایش</a> </span>
                            <span style="padding: 20px; background-color: red;"><a href="{% url 'blog:post_delete' post.id %}"
                                                                                      style="color: white;">حذف</a> </span>
                        {% endif %}
                        </div>
                        <div class="comments-area" >
                            <h4>  تعداد نظرات: {{ post.comments.count }}</h4>
                            <div class="comment-list">
                                {% for com in post.comments.all %}
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <h5><a href="#">{{ com.name }}</a></h5>
                                            <p class="date">{{ com.created_at|to_jalali:'%B %Y' }} </p>
                                            <p>{{ com.message }}</p>
                                        </div>
                                    </div>


                                </div>
                                {% endfor %}
                            </div>	

                        </div>
                        <div class="comment-form">
                            <h4>ثبت بازخورد</h4>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام " onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام را وارد کنید'">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6 email" >
                                    <input type="email" name="email" class="form-control" id="email" placeholder="ایمیل" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل خود را وارد کنید'"  >
                                  </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="title" class="form-control" id="subject" placeholder="موضوع" onfocus="this.placeholder = ''" onblur="this.placeholder = 'موضوع'">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="متن پیام" onfocus="this.placeholder = ''" onblur="this.placeholder = 'پیام'" required=""></textarea>
                                </div>
{#                                <a href="#" class="primary-btn submit_btn">ارسال نظر</a>#}
                                <input type="submit" value="ارسال نظر">
                            </form>
                        </div>
                    </div>


                    <div class="col-lg-4">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget search_widget">
                                    <div class="input-group">
                                        <form method="GET" action="{% url 'blog:search' %}">
                                            <input type="text" name="search" class="form-control padd-src" placeholder="جستجو پست" >
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit"><i class="lnr lnr-magnifier"></i></button>
                                        </span>
                                        </form>

                                    </div><!-- /input-group -->
                                    <div class="br"></div>
                                </aside>
                                <aside class="single_sidebar_widget author_widget">
                                    <img class="author_img rounded-circle" width="150px" src="{{ blogger.image.url }}" alt="">
                                    <h4> {{ blogger.author.first_name }} {{ blogger.author.last_name }} </h4>
                                    <p>{{ blogger.describe }}</p>
                                    <p>{{ blogger.content }}</p>
                                    <div class="br"></div>
                                </aside>
                                <aside class="single_sidebar_widget popular_post_widget">
                                    <h3 class="widget_title">جدیدترین پست ها</h3>
                                    {% for pst in recent %}
                                    <div class="media post_item">
                                        <img src="{{ post.image.url }}" width="80px" alt="post">
                                        <div class="media-body">
                                            <a href="{% url 'blog:post_detail' pst.id %}"><h3>{{ pst.title }}</h3></a>
                                            <p>{{ post.created_at|to_jalali:'%B %Y' }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="br"></div>
                                </aside>
                                <aside class="single_sidebar_widget ads_widget">
                                    <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                                    <div class="br"></div>
                                </aside>
                                <aside class="single_sidebar_widget post_category_widget">
                                    <h4 class="widget_title">دسته بندی پست ها</h4>
                                    <ul class="list cat-list">
                                        {% for category in categories %}
                                        <li>
                                            <a href="{% url 'blog:category_view' category.slug %}" class="d-flex justify-content-between">
                                                <p>{{ category.name }}</p>
                                                <p>{{ category.category.count }}</p>
                                            </a>
                                        </li>
										{% endfor %}
                                    </ul>
                                    <div class="br"></div>
                                </aside>

                                <aside class="single-sidebar-widget tag_cloud_widget">
                                    <h4 class="widget_title">تگ ها</h4>
                                    <ul class="list">
                                        {% for tag in tags %}

                                        <li><a href="{% url 'blog:tag_view' tag.slug %}">{{ tag.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </aside>
                            </div>
                        </div>




                </div>
            </div>
        </section>

{% endblock %}